<!DOCTYPE html>
<html ng-app="firstApp">
<head>
<title> Moja strona w angularze</title> 
<meta charset="utf-8"/>
</head>
    
<body>
<div class="container"> <p>{{2+2}}</p> </div>
    <div ng-controller="firstController">
    {{user | json}}
        <p> Mr {{user.name | lowercase}} {{user.lastname | uppercase}}({{user.salary | currency}}) </p>
        <div ng-controller="thirdController">
        {{message}} &bull; {{$parent.message}}
            
            <ul>
            <li ng-repeat="item in myList">{{item}}</li>
            </ul>
            <button ng-click="showMessage()"> Wyświetl </button>
        </div>
    </div>
    <div ng-controller="secondController as secondC">
    {{secondC.info}}
    </div>

    
    <div ng-controller="fourthC">
    
    <button ng-click="showCurrencies()"> Pokaż waluty </button>
        <div id="result"> 
        {{rates}}
        </div>
    </div>
    <div ng-controller="fifthC">
       <button ng-click="showUsers()"> Poka użytkowników </button>
        <div id="result2"> 
        {{results}}
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js">
    </script>
<script src="js/app.js"> </script>
</body>

</html>