<div class="well">
    <h3>{{ animal.name }}</h3>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ animal.image }}" />
        </div>
        <div class="col-md-6">
            <p>{{ animal.description }}</p>
        </div>
    </div>
</div>