body{
    background-color: chartreuse;
    min-height: 100%;
    height: 100%;
}

.pgHeader{
    height:70px;
    width:100%;
    text-align: center;
}

.mainContent{
    width: calc(65% - 3px);
    max-width: 650px;
    float: left;
    min-height: 100%;

}
.myMenu{
    width: calc(30% - 3px);
    max-width: 300px;
    float: left;
}

.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.container::after {
    content: '.';
    clear: both;
    display: block;
}

.footer{
    margin: 0 auto;
    width:100%;
    max-width: 1000px;
    text-align: center;
    bottom: 0;
    position: fixed;
}