body{
    padding: 0;
    margin: 0;
    background-color: beige;
}

#container{
    width: 1000px;
/*    text-align: center;*/
    margin: 0 auto;
}

.sectionLeft{
    width: 700px;
    background-color: white;
    
}

.asideRight{
    width: 300px;
    background-color: azure;
    
}

.floatLeft{
    float: left;
}

#container:after{
    content: ".";
    display: block;
    clear: both;  
}

li{
    list-style: none;
    padding: 0;
    margin: 0;  
}

nav > ul > li{
    
    padding: 5px 10px;
    text-align: center;
    
}

h2.menu{
    text-transform: uppercase;
    text-align: center;
}

