<!DOCTYPE>
<html ng-app="secondApp">
<head> <meta charset="utf-8"/>
<title> Druga strona</title>
             
</head>
    
<body>
    
<div ng-controller="temperatureController">     
<h2> Jaką mamy dziś temperaturę?</h2>   

    
<label> Celcjusz: </label><input name="" type="text" ng-model="cel" ng-keyup="computeC()"/>    
<label> Kelvin: </label><input name="" type="text"ng-model="kel" ng-keyup="computeK()"/>    
<label> Fahrenheit: </label><input name="" type="text"ng-model="fahr" ng-keyup="computeF()"/>    

     
</div>   

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js">
    </script>
<script src="js/app.js"> </script>
</body>

</html>