body {
    font-family: "Verdana" sans-serif;
}

.paragraph{
    font-size: 18pt;
}
.paragraphColour{
    background-color: greenyellow;
    color: white;
    font-weight: 800;
}

.borderBlue{
    border-color: blue;
    border-width: 4px;
    border-style: dashed;
    padding: 20px;
}
.wrapper{  
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    width: 300px;
}

a {
    color: violet;
    text-decoration: none;
}

a:hover {
    color: aquamarine;
}

.simpleText:before{
    content: ",,";
}

.simpleText:after{
    content: "''";
}

