#container{
    margin: 0 auto;
    width: 100%;
}

.section{
    width: 70%;
    float: left;
    background-color: bisque
}

.aside{
    width: 30%;
    float: left;
    background-color: whitesmoke;
}

aside,section {
    border: 1px solid black;
}